<!-- Content -->
<div id="content">
	<div class="post">
		<h3><strong>{{ qmgr }}</strong> - Messages - <strong>{{ queue }}</strong></h3>
		<form id="messageFilterForm">
			<fieldset style="padding:5px;">
				<legend>&nbsp;Limits&nbsp;</legend>
				<div style="margin:5px; width:100%">
					<label style="position: absolute; text-align:right; width:130px;" for="limit">Limit Messages</label>
					<input style="margin-left: 140px;" type="text" id="limit" ng-model="formData.limit" value="" />
				</div>
				<div style="margin:5px; width:100%">
					<label style="position: absolute; text-align:right; width:130px;" for="teaser">Teaser Length</label>
					<input style="margin-left: 140px;" type="text" id="teaser" ng-model="formData.teaser" value="80" /> <span style="font-size:0.8em">(Only for messages with format MQSTR)</span>
				</div>
				<div>
					<button ng-click="load()">Filter &gt;&gt;</button>
				</div>
			</fieldset>
		</form>
	</div>
</div> <!-- END Content -->
<!-- Sidebar -->
<div id="sidebar">
	<div class="box">
	<!--
		<h3>Our Services</h3>
		<ul>
			<li><a title="List Queues Containing Messages" href="#">List Non-empty Queues</a></li>
			<li><a title="Ipsum is not simply" href="#">Ipsum is not simply</a></li>
			<li><a title="Dom text roots" href="#">Dom text roots</a></li>
			<li><a title="Popular belief lorem" href="#">Popular belief lorem</a></li>
			<li><a title="Ipsum is not simply" href="#">Ipsum is not simply</a></li>
		</ul>
	-->
	</div>
</div> <!-- END Sidebar -->
<div class="cl"></div>
<div class="widgets">
	<div class="loader" ng-if="loading"></div>
	<table ng-if="messages" class="overview" style="width:100%;border-collapse:collapse;font-size:0.85em;">
		<thead>
			<tr>
				<th>Put Date</th><th>Id</th><th>Format</th><th>Length</th><th>User</th><th>Application</th><th>Encoding</th><th>CCSID</th><th> </th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat-start="message in messages">
				<td>{{ message.data.PutDate }}</td>
				<td><a ng-click="toggle(message)">{{ message.data.MsgId }}</a></td>
				<td>{{ message.data.Format }}</td>
				<td style="text-align:right">
					<a href="#/dump/{{ message.data.MsgId }}">{{ message.data.Length | number : 0 }}</a>
				</td>
				<td>{{ message.data.UserIdentifier }}</td>
				<td>{{ message.data.PutApplName }}</td>
				<td>{{ message.data.Encoding }}</td>
				<td>{{ message.data.CodedCharSetId }}</td>
				<td>
					<a href="#view/{{ message.data.MsgId }}"><img src="/static/images/go-next-icon.png" /></a>
				</td>
			</tr>
			<tr ng-repeat-end ng-show="message.toggle">
				<td colspan="9" ng-include="'/static/html/message/detail.html'"></td>
			</tr>
		</tbody>
	</table>
	<div class="cl"></div>
	<div class="col contacts">
	</div>
	<div class="cl"></div>
</div>
