---
---
$font-stack: Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
$blue: #1293EE;
$darkblue: #0D66A5;

html { 
  height: 100%;
}

* { 
  margin: 0;
  padding: 0;
}

body { 
  font-family: $font-stack;
  font-size: 95%;
  background: #F0EFE2 url(background.png) repeat;
  color: #333;
}

p { 
  padding: 0 0 20px 0;
  line-height: 1.6em;
}

img { 
  border: 0;
}

h1, h2, h3, h4, h5, h6 { 
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
}

h1 { 
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

h2 { 
  font-size: 1.75em;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.3em;
}

h3 { 
  font-size: 1.5em;
}

h4 { 
  margin: 0;
  padding: 0 0 5px 0;
  font-size: 1.25em;
}

h5 { 
  margin: 0;
  padding: 0 0 15px 0;
  font-size: 1em;
}

h6 { 
  margin: 0;
  font-size: 1em;
}

a:hover { 
  outline: none;
  text-decoration: underline;
}

a { 
  text-decoration: none;
  color: #4183c4;
}

.left {
  float: left;
  width: auto;
  margin-right: 10px;
}

.right { 
  float: right; 
  width: auto;
  margin-left: 10px;
}

.center {
  display: block;
  text-align: center;
  margin: 20px auto;
}

blockquote { 
  margin-bottom: 20px; 
  margin: 1em 3em;
  padding: 10px 20px 0 20px;
  border-left: 5px solid #fce27c;
  background-color: #f6ebc1;
  overflow:auto;
}

ul { 
  margin: 2px 0 22px 17px;
}

ul li { 
  list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
}

ol { 
  margin: 8px 0 22px 20px;
}

ol li {
  margin: 0 0 11px 0;
}

#main, #logo, #menubar, #site_content, #footer {
  margin-left: auto; 
  margin-right: auto;
}

#header {
  background: #1D1D1D url(header.png) repeat;
  height: 240px;
}

#logo { 
  width: 825px;
  position: relative;
  height: 168px;
}

#logo #logo_text { 
  position: absolute; 
  top: 20px;
  left: 0;
}

#logo h1, #logo h2 { 
  font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover { 
  padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;
}

#logo_text h1 a .logo_colour { 
  color: #1293EE;
}

#logo_text h2 { 
  font-size: 100%;
  padding: 4px 0 0 0;
  color: #DDD;
}

#menubar { 
  width: 900px;
  height: 72px;
  padding: 0;
  background: #1293EE;
} 

ul#menu, ul#menu li { 
  float: left;
  margin: 0; 
  padding: 0;
}

ul#menu li { 
  list-style: none;
}

ul#menu li a { 
  letter-spacing: 0.1em;
  font: normal 100% arial, sans-serif;
  font-size: 85%;
  display: block; 
  float: left; 
  height: 37px;
  padding: 29px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
} 

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover { 
  color: #FFF;
  background: #0D66A5;
}

#site_content { width: 837px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: #FFF;
} 

.sidebar { 
  float: right;
  width: 190px;
  padding: 0 15px 20px 15px;
  margin-left: 5px;
  background: beige;
}

.sidebar ul { 
  width: 178px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 30px 0;
}

.sidebar li { 
  list-style: none; 
  padding: 0 0 7px 0; 
}

.sidebar li a, .sidebar li a:hover { 
  padding: 0 0 0 40px;
  display: block;
  background: transparent url(link.png) no-repeat left center;
} 

.sidebar li a.selected { 
  color: #444;
  text-decoration: none;
} 

#content { 
  text-align: left;
/*  width: 595px; */
  padding: 0;
}

#content ul { 
  margin: 2px 0 22px 0px;
}

#content ul li { 
  list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;
}

#footer { 
  width: 900px;
  font: normal 100% 'lucida sans unicode', arial, sans-serif;
  height: 33px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: #1293EE;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer a { 
  color: #FFF;
  text-decoration: none;
}

#footer a:hover { 
  color: #FFF;
  text-decoration: underline;
}

.search { color: #5D5D5D; 
  border: 1px solid #BBB; 
  width: 134px; 
  padding: 4px; 
  font: 100% arial, sans-serif;
}

#colours { height: 0px;
  text-align: right;
  padding: 66px 16px 0px 300px;
}
  
.form_settings { 
  margin: 15px 0 0 0;
}

.form_settings p { 
  padding: 0 0 4px 0;
}

.form_settings span {
  float: left; 
  width: 200px; 
  text-align: left;
}
  
.form_settings input, .form_settings textarea { 
  padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;
}
  
.form_settings .submit {
  font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #1293EE; 
  color: #FFF;
}

.form_settings textarea, .form_settings select {
  font: 100% arial; 
  width: 299px;
}

.form_settings select { 
  width: 310px;
}

.form_settings .checkbox { 
  margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;
}

.separator { 
  width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;
}
  
table { 
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: gray;
}

thead {
  vertical-align: middle;
  border-color: inhirit;
}

table th {
  font-weight: bold;
}

table th, table td {
  padding: 6px 13px;
  border: 1px solid #ddd;  
}

tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

tr:nth-child(2n) {
  background-color: #f8f8f8;
}

pre {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  background-color: lightgray;
  margin-bottom: 15px;
  border-left: 5px solid gray;
  overflow:auto;
  font-size: 85%;
}

p code, li code { 
  font-size: 1.20em;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

div.highlight pre {
  padding-bottom:15px;
}

code:after, code:before {
  letter-spacing: -0.2em;
  content: "\00a0";
}

pre code {
  background-color: lightgray;
}

code, pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

li p {
  padding: 0px;
}

.accordion, .accordion * {
  -webkit-box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  box-sizing:border-box;
}
 
.accordion {
  overflow:hidden;
  box-shadow:0px 1px 3px rgba(0,0,0,0.25);
  border-radius:3px;
  background:#f7f7f7;
  margin-bottom:5px;
}
 
.accordion-section-title {
  width:100%;
  padding:15px;
  display:inline-block;
  border-bottom:1px solid #1a1a1a;
  background:$blue;
  transition:all linear 0.15s;
  text-shadow:0px 1px 0px #1a1a1a;
  color:#fff;
}
 
.accordion-section-title.active, .accordion-section-title:hover {
  background:$darkblue;
  text-decoration:none;
}
 
.accordion-section:last-child .accordion-section-title {
  border-bottom:none;
}
 
.accordion-section-content {
  padding:15px;
  display:none;
}
