<div>
	<!-- Content -->
	<div id="content">
		<div class="post">
			<h3><strong><mq-config name="qmgrName" /></strong> - Queue - {{ queue.data.QName.value }}</h3>
		</div>
		<div ng-include="'/static/html/queue/detail.html'"></div>
		<div ng-if="loading" class="loader"></div>
		<div ng-if="error != null" ng-include="'/static/html/error.html'"></div>
	</div>
	<!-- END Content -->
	<!-- Sidebar -->
	<div id="sidebar">
		<div class="box">
		<!--
			<h3>Our	Services</h3>
			<ul>
				<li><a title="List Queues	Containing Messages" href="#">List Non-empty Queues</a></li>
				<li><a title="Ipsum	is not simply" href="#">Ipsum	is not simply</a></li>
				<li><a title="Dom	text roots"	href="#">Dom text	roots</a></li>
				<li><a title="Popular	belief lorem"	href="#">Popular belief	lorem</a></li>
				<li><a title="Ipsum	is not simply" href="#">Ipsum	is not simply</a></li>
			</ul>
		-->
		</div>
	</div>
	<!-- END Sidebar -->
	<div class="cl"></div>
	<div class="widgets">
		<div class="cl"></div>
		<div class="col	contacts">
		</div>
		<div class="cl"></div>
	</div>
</div>