<div id="header">
 <div style="float:right;margin:10px;">
    <a href="https://github.com/fbraem/mqweb"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
  <div style="margin-left:-400px">
    Proudly hosted by
    <a href="https://github.com">
     <img style="width:100px;height:30px" src="{{ site.baseurl }}/img/footer-logo.png" alt="GitHub &bull; Social coding">
    </a>
  </div>
 </div>
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">MQ<span class="logo_colour">Web</span></a></h1>
          <h2>Administrating WebSphere MQ with your browser.</h2>
        </div>
      </div>
      <div id="menubar">
		<ul id="menu">
  			<li class="{% if page.overview %}selected{% endif %}">
    		 <a href="{{ site.baseurl }}/">Home</a>
    		</li>
  			<li class="{% if page.features %}selected{% endif %}">
    		 <a href="{{ site.baseurl }}/features.html">Features</a>
    		</li>
  			<li class="{% if page.api %}selected{% endif %}">
    		 <a href="{{ site.baseurl }}/api/index.html">API</a>
    		</li>
  			<li class="{% if page.doc %}selected{% endif %}">
    		 <a href="{{ site.baseurl }}/docs/index.html">Documentation</a>
    		</li>
            <li class="{% if page.news %}select{% endif %}">
             <a href="{{ site.baseurl }}/news.html">News</a>
            </li>
  			<li class="{% if page.contact %}selected{% endif %}">
    		 <a href="{{ site.baseurl }}/contact.html">Contact</a>
    		</li>
            <li class="">
             <a href="{{ site.repository }}"><span class="hide-on-mobiles">View on </span>GitHub</a>
            </li>
         </ul>
      </div>
    </div>

