<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="MQWeb Website" />
  <meta name="keywords" content="MQWeb,Websphere MQ,MQ" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="canonical" href="http://www.mqweb.org">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style/style.css" title="style" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style/syntax.css" title="style" />
  <script type="text/javascript">
    if (window.location.href.indexOf('http://fbraem.github.io') === 0) {
      window.location.href = 'http://www.mqweb.org{{ page.url }}';
    }
  </script>
  {% if page.accordion %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
	$(document).ready(function() {
		function close_accordion_section() {
		    $('.accordion .accordion-section-title').removeClass('active');
		    $('.accordion .accordion-section-content').slideUp(300).removeClass('open');
		}
	 
		$('.accordion-section-title').click(function(e) {
		    // Grab current anchor value
		    var currentAttrValue = $(this).attr('href');
	 
		    if($(e.target).is('.active')) {
		        close_accordion_section();
		    }else {
		        close_accordion_section();
	 
		        // Add active class to section title
		        $(this).addClass('active');
		        // Open up the hidden content panel
		        $('.accordion ' + currentAttrValue).slideDown(300).addClass('open'); 
		    }
	 
		    e.preventDefault();
		});
	});
	</script>
  {% endif %}
</head>
