<!-- Content -->
<div id="content">
	<div class="post">
		<h3><strong>{{ mqweb.qmgr }}</strong> - Listener - {{ listener.data.ListenerName.value }}</h3>
	</div>
	<div ng-if="listener" ng-include="'/static/html/listener/detail.html'"></div>
	<div ng-if="loading" class="loader"></div>
	<div ng-if="error != null" ng-include="'/static/html/error.html'"></div>
</div>
<!-- END Content -->
<!-- Sidebar -->
<div id="sidebar">
	<div class="box">
		<h3>Status</h3>
		<table class="zebra" style="font-size:0.8em;">
			<thead>
				<tr>
					<th>Start Time</th><th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="status in statuses">
					<td>{{ status.StartDate.value }}&nbsp;{{ status.StartTime.value }}</td>
					<td>{{ status.Status.display }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- END Sidebar -->
<div class="cl"></div>
<div class="widgets">
	<div class="cl"></div>
	<div class="col	contacts">
	</div>
	<div class="cl"></div>
</div>
