<!-- Content -->
<div id="content">
	<div class="post">
		<h3><strong>{{ qmgr }}</strong> - Listeners</h3>
		<form id="listenerFilterForm">
			<fieldset>
				<legend>&nbsp;Filter&nbsp;</legend>
					<div style="float:left;margin:5px;">
						<div style="margin:5px;">
							<label for="listenerName">Listener Name: </label><input type="text" id="listenerName" ng-model="formData.listenerName" />
						</div>
						<div style="margin:5px;">
						 <input type="checkbox" ng-model="formData.listenerExcludeSystem" /> Exclude System Listeners
						</div>
					</div>
					<fieldset style="float:right;margin-right:10px;">
						<legend>&nbsp;Listener Type&nbsp;</legend>
					 	<div style="float:left;padding:10px;">
							<input type="radio" ng-model="formData.transportType" value="All" /> All<br />
							<input type="radio" ng-model="formData.transportType" value="TCP" /> TCP<br />
							<input type="radio" ng-model="formData.transportType" value="LU62" /> LU62<br />
							<input type="radio" ng-model="formData.transportType" value="NetBios" /> NetBios<br />
							<input type="radio" ng-model="formData.transportType" value="SPX" /> SPX<br />
						</div>
					</fieldset>
					<div style="clear:both;" />
					<div style="float:right;margin-right:10px;margin:10px;">
						<button ng-click="load()" id="filterSubmit">Filter &gt;&gt;</button>
					</div>
			 </fieldset>
		</form>
	</div>
</div>
<!-- END Content -->
<!-- Sidebar -->
<div id="sidebar">
	<div class="box">
		<!--
		<h3>Our Services</h3>
		<ul>
			<li><a title="List Queues Containing Messages" href="#">List Non-empty Queues</a></li>
			<li><a title="Ipsum is not simply" href="#">Ipsum is not simply</a></li>
			<li><a title="Dom text roots" href="#">Dom text roots</a></li>
			<li><a title="Popular belief lorem" href="#">Popular belief lorem</a></li>
			<li><a title="Ipsum is not simply" href="#">Ipsum is not simply</a></li>
		</ul>
		-->
	</div>
</div>
<!-- END Sidebar -->
<div class="cl"></div>
<div class="widgets">
	<div class="loader" ng-if="loading"></div>
	<div style="margin:10px;" ng-if="listeners">
		<table class="overview" style="width:100%;border-collapse:collapse">
			<thead>
				<tr>
					<th>Listener</th><th>Type</th><th> </th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat-start="listener in listeners">
					<td>
						<a ng-click="toggle(listener)">{{ listener.data.ListenerName.value }}</a>
						<div ng-if="listener.data.ListenerDesc && listener.data.ListenerDesc.value">
							<em style="padding:5px;font-size:0.8em">{{listener.data.ListenerDesc.value}}</em>
						</div>
					</td>
					<td>{{ listener.data.TransportType.display }}</td>
					<td>
						<a href="#{{ listener.data.ListenerName.value }}"><img src="/static/images/go-next-icon.png" /></a>
					</td>
				</tr>
				<tr ng-repeat-end ng-show="listener.toggle">
					<td colspan="9">
						<div ng-include="'/static/html/listener/detail.html'"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-if="error != null" ng-include="'/static/html/error.html'"></div>
	<div class="cl"></div>
	<div class="col	contacts">
	</div>
	<div class="cl"></div>
</div>
