* { margin: 0; padding: 0; outline: 0; }

body {
    font-size: 12px;
    line-height: 18px;
    font-family: arial, sans-serif;
    color: #575757;
    background: #01a0bd url(images/body.png) repeat-x 0 0;
    min-width: 1009px;
}

a { color: #0252aa; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell { padding-top: 3px; width: 1009px; margin: 0 auto; }

#wrapper { background: url(images/wrapper.jpg) no-repeat center 0; }
#wrapper-top { font-size: 0; line-height: 0; text-indent: -4000px; height: 19px; background: url(images/wrapper-top.png) no-repeat 0 0; }
#wrapper-middle { position: relative; padding: 0 14px 45px; width: 981px; background: url(images/wrapper-middle.png) repeat-y 0 0; }
#wrapper-bottom { font-size: 0; line-height: 0; text-indent: -4000px; height: 22px; background: url(images/wrapper-bottom.png) no-repeat 0 0; }

#header { position: relative; padding: 14px 21px 0 23px; height: 91px; background: url(images/header.png) no-repeat 0 0; }

#logo { display: inline; float: left; padding-top: 21px; }
#logo .slogan { padding-top: 5px; font-size: 10px; text-transform: uppercase; color: #135a75; }
#logo a { color:white;}

.socials { display: inline; float: right; }
.socials a { display: block; width: 27px; height: 28px; float: left; padding-right: 7px; text-indent: -4000px; }
.socials a.facebook { background: url(images/facebook.png) no-repeat 0 0; }
.socials a.twitter { background: url(images/twitter.png) no-repeat 0 0; }
.socials a.digg { background: url(images/digg.png) no-repeat 0 0; }
.socials a.delicious { background: url(images/delicious.png) no-repeat 0 0; }
.socials a.su { background: url(images/su.png) no-repeat 0 0; }
.socials a.rss { background: url(images/rss.png) no-repeat 0 0; }

#search { position: absolute; top: 53px; right: 23px; width: 236px; background: url(images/search.png) no-repeat 0 0; }
#search .field { border: 0; background: none; padding: 13px 14px 11px; width: 208px; line-height: 15px; font-size: 11px; color: #5b6366; }

#navigation { background: url(images/navigation.png) repeat-x 0 0; }
#navigation ul li { list-style: none; display: inline; float: left; line-height: 45px; font-weight: bold; font-size: 14px; border-right: solid 1px #2897c0; text-shadow: 2px 2px 2px #1987af; }
#navigation ul li a { color: #fff; display: block; float: left; padding: 0 17px 0 25px; background: url(images/nav-item.png) repeat-x 0 -4000px; }
#navigation ul li a:hover { background-position: 0 0; text-decoration: none; }

h3 { font-family: Arial, helvetica, sans-serif; font-size: 21px; line-height: 24px; font-weight: normal; color: #005271; }
a.read-more { padding-left: 6px; font-size: 11px; color: #0099d1; background: url(images/read-more.png) no-repeat 0 50%; }

#main { position: relative; padding: 37px 20px 0; width: 941px; }

#content { display: inline; float: left; width: 593px; }
.post img { display: block; float: left; padding: 5px 15px 0 0; }
.post h3 { padding: 0 0 25px 6px; }
.post p { padding-bottom: 18px; }

#sidebar { display: inline; float: right; width: 312px; }
.box ul { padding: 19px 0 0 15px; }
.box li { padding-left: 2px; font-size: 14px; line-height: 26px; color: #0099d1; }
.box li a { color: #0099d1; }

.widgets { position: relative; margin-top: 29px; padding: 38px 0 0 3px; width: 938px; background: url(images/widgets.png) no-repeat center 0; }

.col { display: inline; float: left; padding-right: 52px; width: 264px; }
.col a.read-more { line-height: 30px;  }

.activities h3 { padding: 4px 0 12px 36px; background: url(images/activities.png) no-repeat 0 4px; }

.about-us { padding-right: 45px; }
.about-us h3 { padding: 4px 0 12px 35px; background: url(images/about-us.png) no-repeat 0 4px; }

.we-hire { padding-right: 0; }
.we-hire h3 { padding: 4px 0 12px 32px; background: url(images/we-hire.png) no-repeat 0 4px; }

.contacts { padding-right: 0; }
.contacts h3 { padding: 0 0 17px 33px; background: url(images/contacts.png) no-repeat 0 3px; }

.projects { display: inline; float: left; padding-right: 24px; width: 600px; }
.projects h3 { padding-bottom: 20px; }

#footer { padding: 9px 39px 50px 39px; }
.copy { display: inline; float: right; color: #82d1df; }
.copy span { color: #008097; padding: 0 10px; }
.copy a { color: #52e3fe; text-decoration: underline; }
.copy a:hover { text-decoration: none; }

#bottom-nav { line-height: 19px; color: #008097; }
#bottom-nav a { color: #82d1df; }
#bottom-nav span { padding: 0 9px; }
